extends layout

block content
  h1= title
  p #{query.rows} , #{query.cols}
  - let cols=Number(query.cols)
  - let rows=Number(query.rows)
  - if(!Number.isInteger(rows))
        p rows should be an integer
  - if(!Number.isInteger(cols))
        p cols should be an integer
  - if(!(cols>=1 && cols<=6) || !(rows>=1 && rows<=6))
        p rows and cols should be in range (1,6)    
  table#outer  
    - for(let i=0 ;i<rows;i++){
            tr#middle
                - for(let j=0;j<cols;j++){
                    td= (i+j)%rows
                - }    
    - }